<h2 mat-dialog-title class="text-center"> Solicitud #{{data.id}}</h2>

<div mat-dialog-content>

    <div class="row">
        <p  class="col-md-6 col-12">Proyecto: {{data.proyecto.nombre | titlecase}}</p>
    <p  class="col-md-6 col-12">Concepto: {{data.concepto.descripcion | titlecase}}</p>
    </div>

    <form [formGroup]="asignacion" novalidate>


        <fieldset class="scheduler-border" *ngIf="data.rubro.cantidad1 !== null">
            <legend class="scheduler-border">Campo 1</legend>
    
            <div class="row">

                <p class="col-md-6 col-12">Cantidad: {{data.rubro.cantidad1}}</p>
                <p class="col-md-6 col-12">descripción: {{data.rubro.descripcion1}}</p>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Precio Unitario</mat-label>
                    <input type="number" step="0.01" min="1" matInput autocomplete="off" #precio1 formControlName="precio1"  (blur)="multiplicardor(precio1, data.rubro.cantidad1,1)">
                    <p class="mb-0 mt-2">{{precio1.value | currency:'BS':true:'1.2' }}</p>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Seleccione el banco</mat-label>
                    <mat-select formControlName="banco1_id">
                      <mat-option *ngFor="let banco of allBancos" [value]="banco.id"> {{banco.titular |titlecase}} | {{banco.banco |titlecase}} </mat-option>
                    </mat-select>
        
                </mat-form-field>
                
            
            </div>
        </fieldset>

        <fieldset class="scheduler-border" *ngIf="data.rubro.cantidad2 !== null">
            <legend class="scheduler-border">Campo 2</legend>
    
            <div class="row">

                <p class="col-md-6 col-12">Cantidad: {{data.rubro.cantidad2}}</p>
                <p class="col-md-6 col-12">descripción: {{data.rubro.descripcion2}}</p>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Precio Unitario</mat-label>
                    <input type="number" step="0.01" min="1" matInput autocomplete="off" formControlName="precio2" #precio2 (blur)="multiplicardor(precio2, data.rubro.cantidad2,2)">
                    <p class="mb-0 mt-2">{{precio2.value | currency:'BS':true:'1.2' }}</p>
    
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Seleccione el banco</mat-label>
                    <mat-select formControlName="banco2_id">
                      <mat-option *ngFor="let banco of allBancos" [value]="banco.id"> {{banco.titular |titlecase}} | {{banco.banco |titlecase}} </mat-option>
                    </mat-select>
        
                </mat-form-field>
    
            </div>
        </fieldset>

        <fieldset class="scheduler-border" *ngIf="data.rubro.cantidad3 !== null">
            <legend class="scheduler-border">Campo 3</legend>
    
            <div class="row">

                <p class="col-md-6 col-12">Cantidad: {{data.rubro.cantidad3}}</p>
                <p class="col-md-6 col-12">descripción: {{data.rubro.descripcion3}}</p>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Precio Unitario</mat-label>
                    <input type="number" step="0.01" min="1" matInput autocomplete="off" formControlName="precio3" #precio3 (blur)="multiplicardor(precio3, data.rubro.cantidad3,3)">
                    <p class="mb-0 mt-2">{{precio3.value | currency:'BS':true:'1.2' }}</p>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Seleccione el banco</mat-label>
                    <mat-select formControlName="banco3_id">
                      <mat-option *ngFor="let banco of allBancos" [value]="banco.id"> {{banco.titular |titlecase}} | {{banco.banco |titlecase}} </mat-option>
                    </mat-select>
        
                </mat-form-field>
    
            </div>
        </fieldset>


        <fieldset class="scheduler-border" *ngIf="data.rubro.cantidad4 !== null">
            <legend class="scheduler-border">Campo 4</legend>
    
            <div class="row">

                <p class="col-md-6 col-12">Cantidad: {{data.rubro.cantidad4}}</p>
                <p class="col-md-6 col-12">descripción: {{data.rubro.descripcion4}}</p>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Precio Unitario</mat-label>
                    <input type="number" step="0.01" min="1" matInput autocomplete="off" formControlName="precio4" #precio4 (blur)="multiplicardor(precio4, data.rubro.cantidad4,4)">
                    <p class="mb-0 mt-2">{{precio4.value | currency:'BS':true:'1.2' }}</p>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Seleccione el banco</mat-label>
                    <mat-select formControlName="banco4_id">
                      <mat-option *ngFor="let banco of allBancos" [value]="banco.id"> {{banco.titular |titlecase}} | {{banco.banco |titlecase}} </mat-option>
                    </mat-select>
        
                </mat-form-field>
    
            </div>
        </fieldset>

        <fieldset class="scheduler-border" *ngIf="data.rubro.cantidad5 !== null">
            <legend class="scheduler-border">Campo 5</legend>
    
            <div class="row">

                <p class="col-md-6 col-12">Cantidad: {{data.rubro.cantidad5}}</p>
                <p class="col-md-6 col-12">descripción: {{data.rubro.descripcion5}}</p>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Precio Unitario</mat-label>
                    <input type="number" step="0.01" min="1" matInput autocomplete="off" formControlName="precio5" #precio5 (blur)="multiplicardor(precio5, data.rubro.cantidad5,5)">
                    <p class="mb-0 mt-2">{{precio5.value | currency:'BS':true:'1.2' }}</p>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Seleccione el banco</mat-label>
                    <mat-select formControlName="banco5_id">
                      <mat-option *ngFor="let banco of allBancos" [value]="banco.id"> {{banco.titular |titlecase}} | {{banco.banco |titlecase}}</mat-option>
                    </mat-select>
                </mat-form-field>
    
            </div>
        </fieldset>
    </form>
</div>

<div mat-dialog-actions class="float-right clearfix">

    <button mat-button (click)="enviarDatos(asignacion, data.id)" [disabled]="!asignacion.valid" >Guardar Monto</button>
</div>

