<h2 mat-dialog-title class="text-center">Solicitud #{{data.id}}</h2>

<mat-dialog-content>


    <div class="row">
        
        <div class="col-12 col-md-6 col-lg-3 text-center mt-2">
            <h4 class="col-12">Proyecto</h4>

            <p class="mb-0 col-12">{{data.proyecto.nombre | titlecase}}</p>
        </div>

        
        <div class="col-12 col-md-6 col-lg-3 text-center mt-2">
            <h4 class="col-12">Responsable</h4>

            <p class="mb-0 col-12">{{data.responsable  | titlecase}}</p>
        </div>


        <div class="col-12 col-md-6 col-lg-3 text-center mt-2">
            <h4 class="col-12 m-0">Disponible</h4>
            <small class="col-12 text-secondary m-0">Proyecto</small>

            <p class="mb-0 col-12">{{data.proyecto.disponible | currency:'EUR':true:'1.2' }}</p>
        </div>

        
        <div class="col-12 col-md-6 col-lg-3 text-center mt-2">
            <h4 class="col-12 m-0">Total</h4>
            <small class="col-12 text-secondary m-0">Solicitud</small>

            <p class="mb-0 col-12">{{data.total | currency:' ':true:'1.2' }}</p>
        </div>


        <!--Operacións1-->
        <div  class="col-12 col-md-8 mx-auto"  *ngIf="data.rubro.precio1 !== null">
            <div class="scheduler-border my-3" >
                <h4 class="scheduler-border">Operación 1</h4>
                
                <div class="row mt-3">
                    
                    <div class="col-12"> 
                        <h4 class="text-center">Datos del producto:</h4>
                        <div class="row">

                            

                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Cantidad:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0 ">{{data.rubro.cantidad1 }}</p>
                                </div>
                            </div>

                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Descripción:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.descripcion1}}</p>
                                </div>
                            </div>
        
                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Precio:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.precio1 | currency:' ':true:'1.2' }}</p>
                                </div>
                            </div>
        
                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Total:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.cantidad1 * data.rubro.precio1 | currency:' ':true:'1.2' }}</p>
                                </div>
                            </div>

                            


                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <h4 class="text-center">Datos para Transferencia:</h4>
                        <div class="col-12  mt-1" *ngFor="let banco of bancosArr" >
                            <div *ngIf="banco.id === data.rubro.banco1_id" class="text-center">
                                 
                                 <div class="row">
                                     <div class="col-lg-6">
                                         <h5 class="m-0 col-12">Titular</h5>
                                         <p class="m-0"> {{banco.titular | titlecase}} </p>
                                     </div>
                                     <div class="col-lg-6">
                                         <h5 class="m-0 col-12">Banco</h5>
                                         <p class="m-0">{{banco.banco | titlecase}}</p>
                                     </div>
                                 </div>
                            </div>
                         </div>
                    </div>
                </div>
                
            </div>
        </div>

        
        
        <!--Operacións2-->
        <div  class="col-12 col-md-8 mx-auto" *ngIf="data.rubro.precio2 !== null">
                <div class="scheduler-border my-3" >
                    <h4 class="scheduler-border">Operación 2</h4>
                    
                    <div class="row mt-3">
                        
                        <div class="col-12"> 
                            <h4 class="text-center">Datos del producto:</h4>
                            <div class="row">
    
                                
    
                                <div class="col-lg-3 text-center">
                                    <div class="col-12">
                                        <h5 class="m-0">Cantidad:</h5>
                                    </div>
                                    <div class="col-12">
                                        <p class="m-0 ">{{data.rubro.cantidad2 }}</p>
                                    </div>
                                </div> 

                                <div class="col-lg-3 text-center">
                                    <div class="col-12">
                                        <h5 class="m-0">Descripción:</h5>
                                    </div>
                                    <div class="col-12">
                                        <p class="m-0">{{data.rubro.descripcion2}}</p>
                                    </div>
                                </div>
            
                                <div class="col-lg-3 text-center">
                                    <div class="col-12">
                                        <h5 class="m-0">Precio:</h5>
                                    </div>
                                    <div class="col-12">
                                        <p class="m-0">{{data.rubro.precio2 | currency:' ':true:'1.2' }}</p>
                                    </div>
                                </div>
            
                                <div class="col-lg-3 text-center">
                                    <div class="col-12">
                                        <h5 class="m-0">Total:</h5>
                                    </div>
                                    <div class="col-12">
                                        <p class="m-0">{{data.rubro.cantidad2 * data.rubro.precio2 | currency:' ':true:'1.2' }}</p>
                                    </div>
                                </div>
    
                                
    
    
                            </div>
                        </div>
    
                        <div class="col-12 my-3">
                            <h4 class="text-center">Datos para Transferencia:</h4>
                            <div class="col-12  mt-1" *ngFor="let banco of bancosArr" >
                                <div *ngIf="banco.id === data.rubro.banco2_id" class="text-center">
                                        
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h5 class="m-0 col-12">Titular</h5>
                                                <p class="m-0"> {{banco.titular | titlecase}} </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <h5 class="m-0 col-12">Banco</h5>
                                                <p class="m-0">{{banco.banco | titlecase}}</p>
                                            </div>
                                        </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    
                </div>
        </div>
        
        <!--Operacións3-->
        <div  class="col-12 col-md-8 mx-auto" *ngIf="data.rubro.precio3 !== null">
                    <div class="scheduler-border my-3" >
                        <h4 class="scheduler-border">Operación 3</h4>
                        
                        <div class="row mt-3">
                            
                            <div class="col-12"> 
                                <h4 class="text-center">Datos del producto:</h4>
                                <div class="row">
        
                                    
        
                                    <div class="col-lg-3 text-center">
                                        <div class="col-12">
                                            <h5 class="m-0">Cantidad:</h5>
                                        </div>
                                        <div class="col-12">
                                            <p class="m-0 ">{{data.rubro.cantidad3 }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 text-center">
                                        <div class="col-12">
                                            <h5 class="m-0">Descripción:</h5>
                                        </div>
                                        <div class="col-12">
                                            <p class="m-0">{{data.rubro.descripcion3}}</p>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-3 text-center">
                                        <div class="col-12">
                                            <h5 class="m-0">Precio:</h5>
                                        </div>
                                        <div class="col-12">
                                            <p class="m-0">{{data.rubro.precio3 | currency:' ':true:'1.2' }}</p>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-3 text-center">
                                        <div class="col-12">
                                            <h5 class="m-0">Total:</h5>
                                        </div>
                                        <div class="col-12">
                                            <p class="m-0">{{data.rubro.cantidad3 * data.rubro.precio3 | currency:' ':true:'1.2' }}</p>
                                        </div>
                                    </div>
        
        
        
                                </div>
                            </div>
        
                            <div class="col-12 my-3">
                                <h4 class="text-center">Datos para Transferencia:</h4>
                                <div class="col-12  mt-1" *ngFor="let banco of bancosArr" >
                                    <div *ngIf="banco.id === data.rubro.banco3_id" class="text-center">
                                            
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h5 class="m-0 col-12">Titular</h5>
                                                    <p class="m-0"> {{banco.titular | titlecase}} </p>
                                                </div>
                                                <div class="col-lg-6">
                                                    <h5 class="m-0 col-12">Banco</h5>
                                                    <p class="m-0">{{banco.banco | titlecase}}</p>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
        </div>
        
        <!--Operacións4-->
        <div  class="col-12 col-md-8 mx-auto" *ngIf="data.rubro.precio4 !== null">
            <div class="scheduler-border my-3" >
                <h4 class="scheduler-border">Operación 4</h4>
                
                <div class="row mt-3">
                    
                    <div class="col-12"> 
                        <h4 class="text-center">Datos del producto:</h4>
                        <div class="row">

                            

                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Cantidad:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0 ">{{data.rubro.cantidad4 }}</p>
                                </div>
                            </div> 

                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Descripción:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.descripcion4}}</p>
                                </div>
                            </div>
        
                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Precio:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.precio4 | currency:' ':true:'1.2' }}</p>
                                </div>
                            </div>
        
                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Total:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.cantidad4 * data.rubro.precio4 | currency:' ':true:'1.2' }}</p>
                                </div>
                            </div>

                            


                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <h4 class="text-center">Datos para Transferencia:</h4>
                        <div class="col-12  mt-1" *ngFor="let banco of bancosArr" >
                            <div *ngIf="banco.id === data.rubro.banco4_id" class="text-center">
                                 
                                 <div class="row">
                                     <div class="col-lg-6">
                                         <h5 class="m-0 col-12">Titular</h5>
                                         <p class="m-0"> {{banco.titular | titlecase}} </p>
                                     </div>
                                     <div class="col-lg-6">
                                         <h5 class="m-0 col-12">Banco</h5>
                                         <p class="m-0">{{banco.banco | titlecase}}</p>
                                     </div>
                                 </div>
                            </div>
                         </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!--Operacións5-->
        <div  class="col-12 col-md-8 mx-auto" *ngIf="data.rubro.precio5 !== null">
            <div class="scheduler-border my-3" >
                <h4 class="scheduler-border">Operación 5</h4>
                
                <div class="row mt-3">
                    
                    <div class="col-12"> 
                        <h4 class="text-center">Datos del producto:</h4>
                        <div class="row">

                            

                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Cantidad:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0 ">{{data.rubro.cantidad5 }}</p>
                                </div>
                            </div>

                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Descripción:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.descripcion4}}</p>
                                </div>
                            </div>
        
                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Precio:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.precio5 | currency:' ':true:'1.2' }}</p>
                                </div>
                            </div>
        
                            <div class="col-lg-3 text-center">
                                <div class="col-12">
                                    <h5 class="m-0">Total:</h5>
                                </div>
                                <div class="col-12">
                                    <p class="m-0">{{data.rubro.cantidad5 * data.rubro.precio5 | currency:' ':true:'1.2' }}</p>
                                </div>
                            </div>

                           


                        </div>
                    </div>

                    <div class="col-12 my-3">
                        <h4 class="text-center">Datos para Transferencia:</h4>
                        <div class="col-12  mt-1" *ngFor="let banco of bancosArr" >
                            <div *ngIf="banco.id === data.rubro.banco5_id" class="text-center">
                                 
                                 <div class="row">
                                     <div class="col-lg-6">
                                         <h5 class="m-0 col-12">Titular</h5>
                                         <p class="m-0"> {{banco.titular | titlecase}} </p>
                                     </div>
                                     <div class="col-lg-6">
                                         <h5 class="m-0 col-12">Banco</h5>
                                         <p class="m-0">{{banco.banco | titlecase}}</p>
                                     </div>
                                 </div>
                            </div>
                         </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="float-right botones-theme">
    <button mat-raised-button mat-dialog-close color="accent">Cerrar</button>
<div *ngIf="rol === 'MASTER'"> 
    <button mat-raised-button (click)="rechazar(data.id)" color="warn">Rechazar</button>
    <button mat-raised-button (click)="autorizar(data.id)" color="primary" class="text-white"> Autorizar </button>
</div>
</mat-dialog-actions>