
<div class="text-center mb-5">
    <h1 class="titulosPagina">Crear Proyecto</h1>
</div>

<div class="row text-center">
    <div class="col-12 col-md-10 col-lg-6 mx-auto"> 
        <form [formGroup]="ConceptoForm" novalidate>
            <mat-form-field class="col-12" appearance="outline">
    
                <mat-label>Concepto</mat-label>
                <input matInput formControlName="concepto" [(ngModel)]="concepto.descripcion" autocomplete="off" type="text" maxlength="200" required>
                <mat-icon matSuffix>description</mat-icon>
                <mat-error *ngIf="ConceptoForm.get('concepto')">
                    <span *ngIf="ConceptoForm.get('concepto').hasError('required')">Concepto Requerido</span>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</div>

  <div class="row mx-auto">

    <button (click)="guardar(ConceptoForm)" class="mx-auto btn btn-outline-colormain my-3 col-12 col-md-6 col-lg-3" >Guardar Concepto <mat-icon>send</mat-icon></button>

  </div>