<div class="container my-4 ">
  <h1 class="text-center">Listado de Solicitudes</h1>
    <div class="mat-elevation-z8 table-responsive mt-3">
        <table mat-table [dataSource]="dataSource" class="w-100">
      
          <!-- Position Column -->
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="proyecto">
            <th mat-header-cell *matHeaderCellDef> Proyecto </th>
            <td mat-cell *matCellDef="let element"> {{element.proyecto.nombre | titlecase}} </td>
          </ng-container>
      
          <ng-container matColumnDef="creado">
            <th mat-header-cell *matHeaderCellDef> Creación </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'short'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status  | titlecase}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button  matTooltip="Ver PDF" matTooltipPosition="right">
                    <mat-icon>visibility</mat-icon>
                  </button>    
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</div>