<nav class="navbar navbar-expand-sm navbar-light bg-Caritas fixed-top">
  <a class="navbar-brand" [routerLink]="['/panel-administrativo']">
    <img src="./assets/panel/logoCaritas.png" width="50" height="40" class="d-inline-block">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"  >
    <mat-icon class="iconoGrande">menu</mat-icon>
  </button>



  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav">
        <li class="nav-item px-2" routerLinkActive="hoverCaritas" >
          <a class="nav-link" [routerLink]="['modulo-usuarios']"  >Usuarios</a>
        </li>
  
        <li class="nav-item px-2" routerLinkActive="hoverCaritas" >
          <a class="nav-link" [routerLink]="['modulo-proyectos']"  >Proyectos</a>
        </li>
  
        <li class="nav-item px-2" routerLinkActive="hoverCaritas">
          <a class="nav-link" [routerLink]="['modulo-solicitudes']">Solicitudes</a>
        </li>
  
        <li class="nav-item px-2" routerLinkActive="hoverCaritas">
          <a class="nav-link" [routerLink]="['modulos-extras']">Modulos</a>
        </li>
  
        <li class="nav-item px2 d-sm-none">
          <a  [routerLink]="['/logout/1']"  class="nav-link">
            Cerrar Sesión
          </a>
        </li>

      </ul>
    </div>
    <div class="navbar-nav navbar-right ">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/logout/1']"  class="d-none d-sm-block">
            <mat-icon class="iconoGrande">exit_to_app</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>

